<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.view {
			display: block;
			height: 400px;
			padding: 20px;
			overflow: auto;
		}
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.view li {
			display: inline-block;
			border-radius: 5px;
			margin-bottom: 10px;
			padding: 5px;
		}
		li > div {
			display: block;
		}
		.left {
			text-align: left;
		}
		.right{
			text-align: right;
		}
		#input {
			display: block;
			margin-bottom: 20px;
		}
		#sessionsContainer li>div {
			display: block;
			line-height: 50px;
			text-align: left;
			font-size: 20px;
			border-bottom: 1px solid #333;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="raw">
			<div class="col-md-4 col-sm-4">
				<div class="sessions">
					<ul id='sessionsContainer'></ul>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="view">
					<ul class="list-group" id="messageContainer">
    			</ul>
				</div>
				<input class="form-control" type="text" id="input">
				<button class="btn btn-default" id="sendButton">отправить</button>
			</div>
		</div>
	</div>
</body>
</html>