<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
</head>
<body>
	<div id="upload"></div>
	<div class="wrap_modal">
		<div id="modal">
			<h3>Авторизация</h3>
			<input id="login_name" type="text" class="form-control" placeholder="ФИО">
			<input id="login_nick" type="text" class="form-control" placeholder="Ник">
			<input id="login_pass" type="password" class="form-control" placeholder="password">
			<button id="login" class="btn btn-success">Войти</button>
		</div>
	</div>
	<div id="main_container" class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="sessions">
					<div class="user">
						<img src="/img/noavatar.png" alt="">
						<div id="user_info_name" class="user_name">Добро пожаловать!</div>
					</div>
					<div class="wrap">
						<button id="logout" class="btn btn-danger">Выход</button>
					</div>
					<div>Участники (<span id='length'>0</span>)</div>
					<ul id='sessionsContainer'></ul>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="view">
					<ul class="list-group" id="messageContainer">
    				</ul>
				</div>
				<div class="footer">
					<input class="form-control inline message-input" type="text" id="input">
					<button class="btn btn-default inline send" id="sendButton">отправить</button>
				</div>				
			</div>
		</div>
	</div>
</body>
</html>