<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="sessions">
					<div class="user"></div>
					<div>Участники (<span id='length'></span>)</div>
					<ul id='sessionsContainer'></ul>
				</div>
			</div>
			<div class="col-md-8 col-sm-8">
				<div class="view">
					<ul class="list-group" id="messageContainer">
    				</ul>
				</div>
				<div class="footer">
					<input class="form-control inline message-input" type="text" id="input">
					<button class="btn btn-default inline send" id="sendButton">отправить</button>
				</div>				
			</div>
		</div>
	</div>
</body>
</html>